---
interface HeaderProps {
  home: string
}

let { home } = Astro.props as HeaderProps
---

<header>
  <nav>
    <a href="/">
      <b>
        {home}
      </b>
    </a>
  </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
    height: 4rem;
  }
</style>
