---
import Socials from '@components/react/Socials/Socials'
import Blog from 'src/pages/blog.astro'

interface HeroProps {
  greeting: string
  bio: string
}

let { greeting, bio } = Astro.props as HeroProps
---

<section>
  <div class="container">
    <h1 class="greeting">
      {greeting}
      <span style={{ color: 'var(--foreground-secondary)' }}>
        {bio}
      </span>
    </h1>

    <Socials cta="Stay connected" />
    <Blog />
  </div>
</section>

<style>
  .container {
    margin: 4rem auto;
    max-width: 40rem;
    padding: 1rem;
  }

  .greeting {
    font-size: 1.8rem;
  }

  @media (min-width: 37.5rem) {
    .greeting {
      font-size: 1.9rem;
    }
  }

  @media (min-width: 55rem) {
    .greeting {
      font-size: 2rem;
    }
  }

  .bio {
    font-size: 1rem;
    margin-block: 0.5rem;
  }
</style>
