---
const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
)
---

<section>
  <div>
    <h1 style={{ fontSize: '1.5rem' }}>Articles</h1>
    <ul class="post">
      {
        allPosts.map((post: any) => (
          <li class="post-list">
            <a href={post.url}>
              <h1>{post.frontmatter.title}</h1>
              <p>{post.frontmatter.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .post {
    list-style-type: none;
    margin-block: 1.5rem;
  }

  .post-list {
    margin-block: 1rem;
  }
</style>
