---
const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
)
---

<section>
  <div>
    <h1 style={{ fontSize: '1.5rem' }}>Articles</h1>
    <ul class="post">
      {
        allPosts.map((post: any) => (
          <li class="post-list">
            <a href={post.url}>
              <b class="post-title">{post.frontmatter.title}</b>
            </a>
            <p class="post-description">{post.frontmatter.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .post {
    list-style-type: none;
    margin-block: 1.5rem;
  }

  .post-list {
    margin-block: 1rem;
  }

  .post-description {
    color: var(--foreground-secondary);
  }

  .post-title:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }
</style>
