---
const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
)
---

<section>
  <div>
    <h1 style={{ fontSize: '1.5rem' }}>Articles</h1>
    <ul class="post">
      {
        allPosts.map((post: any | string) => (
          <li class="post-list">
            <a href={post.url}>
              <h4 class="post-title">{post.frontmatter.title}</h4>
              <p class="post-description">{post.frontmatter.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .post {
    list-style-type: none;
    margin-block: 1.5rem;
  }

  .post-list {
    background: var(--background-tertiary);
    border: solid 0.01rem var(--border);
    border-radius: 0.5rem;
    margin-block: 1.5rem;
    padding: 0.6rem;
  }

  .post-list:hover {
  }

  .post-description {
    color: var(--foreground-secondary);
  }

  .post-title {
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
  }
</style>
