---

---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="RJ Leyva's Astro TypeScript Blog Built with Bun"
    />
    <title>RJ Leyva's Blog</title>
  </head>

  <body>
    <slot />
  </body>
</html>
