---
const { frontmatter } = Astro.props
---

<meta charset="UTF-8" />
<section>
  <div class="markdown-container">
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <slot />
  </div>
</section>

<style>
  .markdown-container {
    margin: 4rem auto;
    max-width: 30rem;
    padding: 1rem;
  }
</style>
